/*Home Page*/
body {
  background-color: #808080;
  background-repeat: repeat-y;
  background-position: center;
}

.main {
  background-color: white;
  height: 100%;
  width: 60%;
  margin: 0 auto;
  min-height:calc(100vh - 47px);
}

.container {
  height: inherit;
  position: relative;
  margin: auto;
  align-content: center;
  align:center
}

.about {
  margin: auto;
  text-align: center;
  color: black;
  width: 100%;
  margin-top: 5%;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-size: 20px;
  padding: 10px;
  height: 100%;
  align: center;}

/*Local*/
.travel {
  margin-top: 5%;
  margin-left: 1%;
  color: black;
  float: left;
  text-align: center;
}

.travel img {
  width: 65%;
}

.travel p {
  width: 75%;
  text-align: center;
  margin: auto;
  margin-top: 2%;
  font-family: 'Lato', sans-serif;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

.imgs {
  height: 100px;
  width: 100px;
  border-style: solid;
  border-radius: 100%;
  margin: 10px 5px;
  display: flex;
}

.imgContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

/*Top Nav*/
.topnav {
    background-color: #333;
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav .icon {
    display: none;
}
.topnav a.active {
    background-color: #80b0fc;
    color: black;
}

/*Slideshow*/
.slideshow-container img {
  width: 100%;
  padding: 10px;
}

* {box-sizing:border-box}

.slideshow-container {
  margin: 0 auto;
  display: flex;
  width: 100%;
  position: relative;
  text-align: center;
  padding: 15px;
}

.mySlides {
    display: none;
    align-content: center;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 10%;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: -3%;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: -3%;
}

.prev:hover, .next:hover {
  background-color: rgba(128,176,252,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor:pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  position: relative;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
